<section class="register">
    <div class="container card my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="register-image">
                    <img class="w-100" src="./assets/images/Login-rafiki.svg" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="register-form  w-100">
                    <!-- <p> {{registerForm.get('name')?.getError('required') |json}} </p> -->
                    <form [formGroup]="loginForm" (ngSubmit)="signIn(loginForm)">

                        <div class="py-2">
                            <label for="email">Email:</label>
                            <input formControlName="email" class="form-control" id="email" placeholder="ex:example@example.com" type="email">
                            <div id="alert" class="my-2" *ngIf="loginForm.get('email')?.errors &&  loginForm.get('email')?.touched">
                                <p *ngIf="loginForm.get('email')?.getError('required')" >Email is required</p>
                                <p *ngIf="loginForm.get('email')?.getError('email')" >Email in not from email type</p>
                            </div>
                        </div>
                        <div class="py-2">
                            <label for="password">Password:</label>
                            <input formControlName="password" class="form-control" id="password" placeholder="ex:Youssef123" type="password">
                            <div id="alert" class="my-2" *ngIf="loginForm.get('password')?.errors &&  loginForm.get('password')?.touched">
                                <p *ngIf="loginForm.get('password')?.getError('required')" >Password is required</p>
                                <p *ngIf="loginForm.get('password')?.getError('pattern')" >Password must begin with UPPER case character, contain only numbers and must be form 8 to 20 length</p>
                            </div>
                        </div>
                        
                        
                        <button [disabled]="loginForm.invalid" class="btn submit-button w-100"> <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>Register</button>
                    </form>
                    <div *ngIf="respoError" id="alert" class="bg-warning my-2 py-2 d-flex align-items-center justify-content-center flex-column">
                        <p> {{respoError}} </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
